<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h2>User Registration</h2>

<form th:action="@{/register}" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required /><br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" required /><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}" /><br/>

    <label>Shipping Address:</label>
    <input type="text" th:field="*{shippingAddress}" /><br/>

    <label>Payment Method:</label>
    <input type="text" th:field="*{paymentMethod}" /><br/>

    <button type="submit">Register</button>
</form>

<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</body>
</html>
